.list-title-box {
    width: 100%;
    justify-content: center
    padding-left: 10;
    padding-right: 10
    margin-bottom: 20px
}

.bottom-box {

}

.list-upper-box {
    justify-content: center
}

.year {
    text-align: center
    font-size: 21px
}

.list-name {
    text-align: center
    font-size: 40px
}

.blue-text {
    color: #1890ff
    margin-left: 10px
    margin-right: 10px
}

.divider-style {
    margin: 10px 0 24px 0  
}