.book-title-box {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10;
    padding-right: 10
    margin-bottom: 20px
}
.upper-box {
    display: flex
    align-items: flex-end
}
.bottom-box {

}

.blue-text {
    color: #1890ff
    margin-left: 10px
    margin-right: 10px
}

.divider-style {
    margin: 10px 0 24px 0  
}