.site-header {
  background: #fff;
  position: fixed
  z-index: 1
  width: 100%
}
.ant-layout {
    background-color: #fbfbfb 
}
.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 86%
}
.ant-layout-header {
    box-shadow: 0 0.01px 5px 0.5px #c3c0c0    
}
.logo-img {
    height 100% 
}
.logo {
    width: 100%;
    flex: 0 0 24%;
}