.BookGuess {
  margin: 10% 0;
  display flex
}
.guess-container-left {
  flex: 0 0 72%
  max-width: 72% 
  margin-left: 20px
}

.guess-container-right { 
  flex: auto
  margin-right: 20px
  margin-left: 5px
}

.guess-container-right .guess-intro p{
  font-size: 13px
}
