.book-card {
    display flex !important
    justify-content: flex-start
    align-items: flex-start
    flex-direction: row-reverse
    padding: 0 10px 0 0 !important
}

.book-cover {
     flex: 0 0 20%
     margin-right: 20px
}

.book-meta {
    flex: auto
    max-width: 60%  
}

.rate-text {
    margin-left: 10px
    font-size: 1em
    color: #ffa940
}

.book-title {
    max-width: 12vw
}